/*--------------------------------------------------------------
#                          BASE.CSS
#---------------------------------------------------------------
#       Mainly sets up the basic styles for the webpage
--------------------------------------------------------------*/


@font-face {
    font-family: 'Terminus';
    src: url('/src/fonts/terminus-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* Will be overwritten if theme is selected (theme-selections are saved in localStorage) */
    --main-color: #72b6ff;
    --main-color-rgb: 114, 182, 255; /* RGB version of main color for rgba usage */
    --bg-color: rgb(15, 129, 236); /* needs to be in rgb format */
    --bg-opacity: 0.31;
    --selection: #3b6d8b;
    --warning-color: rgb(240, 86, 86);
    --info-color: #ffffff;

    font-size: 10px;
}

html {
    /* For Firefox */
    overflow-y: scroll;
    scrollbar-width: thin; /* Options: auto | thin | none */
    scrollbar-color: var(--main-color) #222; /* thumb | track */
}

pre:not(#title), code {
    white-space: pre-wrap;
}

body {
    font-family: 'Terminus', sans-serif;

    background-color: black;

    overflow-x: hidden;

    color: var(--main-color);
}

b{
    color: #ff0;
}

.header_title{
    text-align: center;
}

.privacy-policy-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: left;
}

.privacy-policy-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.privacy-policy-container p::before {
    content: "· "; /* adds a dot before each paragraph */
    color: #ffffff;
}

a:link:not(.tab_active, a:hover), a:visited:not(.tab_active, a:visited:hover), em a:visited {
    color: var(--main-color);
}

a {
    color: var(--main-color)
}

#canvas {
    font-size: 1.75em;
    padding: 1.8em;

    height: 100%;

    transform: translateZ(0);
}

#title {
    width: 100%;
    font-size: 1.0em;
    font-family: 'Courier New', Courier, monospace;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    margin-bottom: 1em;
}

.welcome {
    text-align: center;
}

.snowflake {
    position: fixed;
    animation-timing-function: linear;
    z-index: 1000;
    background: white;
    border-radius: 50%;
    pointer-events: none;
    filter: blur(1px);
}

@keyframes snowflake-fall {
    0% {
        transform: translateY(-10vh);
    }
    100% {
        transform: translateY(110vh);
    }
}

@keyframes snowflake-fall-horizontal-1 {
    0% {
        transform: translateX(0) translateY(-10vh);
    }
    100% {
        transform: translateX(20vw) translateY(110vh);
    }
}

@keyframes snowflake-fall-horizontal-2 {
    0% {
        transform: translateX(0) translateY(-10vh);
    }
    100% {
        transform: translateX(-20vw) translateY(110vh);
    }
}


/*--------------------------------------------------------------
# SCROLLBAR
--------------------------------------------------------------*/

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: var(--bg-color); /* Background of the track */
}

body::-webkit-scrollbar-thumb {
    background: var(--main-color); /* Color of the scrollbar thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--selection); /* Slightly different on hover */
}


/*--------------------------------------------------------------
# GLITCH ANIMATION
--------------------------------------------------------------*/

.glitch {
    display: inline-block;
    position: relative;
    color: #0ff;
    font-size: 1em;
}

.glitch:before,
.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: #ff0;
    opacity: 0;
    overflow: hidden;
    animation: glitch-anim 1s infinite;
}

.glitch:after {
    color: #f0f;
    animation-delay: 0.1s;
}

@keyframes glitch-anim {
    0% {
        clip: rect(0, 9999px, 100%, 0);
        transform: translate(0);
        opacity: 1;
    }
    10% {
        clip: rect(0, 9999px, 10px, 0);
        transform: translate(-2px, 2px);
        opacity: 1;
    }
    20% {
        clip: rect(10px, 9999px, 20px, 0);
        transform: translate(2px, -2px);
        opacity: 1;
    }
    30% {
        clip: rect(20px, 9999px, 30px, 0);
        transform: translate(-1px, 1px);
        opacity: 1;
    }
    40% {
        clip: rect(30px, 9999px, 40px, 0);
        transform: translate(1px, -1px);
        opacity: 0.7;
    }
    50% {
        clip: rect(40px, 9999px, 50px, 0);
        transform: translate(-2px, -2px);
        opacity: 0.5;
    }
    60% {
        clip: rect(50px, 9999px, 60px, 0);
        transform: translate(2px, 2px);
        opacity: 0.8;
    }
    70% {
        clip: rect(60px, 9999px, 70px, 0);
        transform: translate(0);
        opacity: 1;
    }
    80% {
        clip: rect(70px, 9999px, 80px, 0);
        transform: translate(1px, -1px);
        opacity: 0.6;
    }
    100% {
        clip: rect(0, 9999px, 100%, 0);
        transform: translate(0);
        opacity: 1;
    }
}


/*--------------------------------------------------------------
# OTHERS
--------------------------------------------------------------*/

.effects {
    text-align: center;
}

pre, p, li, h1, h2, h3, h4, td{
    margin: 0;
    font-weight: normal;
}

#sub_title, h4 {
    font-size: 1em;
}

#changeEffects a {
    text-decoration: underline;
}

#div_h {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2em;
}

/* NOISE */
#videohue { /* used for background color */
    display: block;

    background: rgba(var(--bg-color), var(--bg-opacity));
    opacity: 0.5;
}

#videohue, #noise_vid, .vignette, #rain_vid {
    position: fixed;
    overflow: hidden;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    height: 100vh;
    width: 100vw;

    transform: translateZ(0);
}

.vignette {
    opacity: 0.2;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 50%, rgb(var(--bg-color)) 250%);
}

/* RAIN VIDEO */
#rain_vid {
    opacity: 0.125;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* NAV BAR */
nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li:not(:last-child) {
    padding-right: 0.5em;
}


nav ul li a {
    display: block;
    text-decoration: underline;
    border-radius: 0px; /* was 10px */
    padding: 0.2em 0.3em;

    transition: background-color 0.1s ease-out;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 0.5em; /* Add space between items when stacked */
    }

    nav ul li:not(:last-child) {
        padding-right: 0; /* Remove padding for small screens */
    }
}


.tab_active {
    background-color: var(--main-color);
    color:rgba(24, 45, 75, 0.616);
    text-decoration: none;
}

@media (max-width: 580px) {
    .pic_coll_tabs {
        display: inline-block; /* treats link as a block element */
        margin: 10px 0; /* vertical margin for pic_coll_tabs  */
        transition: background-color 0.3s ease; 
    }
}




@media (hover: hover) {
    a:hover {
        background-color: var(--main-color); /* Background color when hovering */
        cursor: pointer;
        color: rgba(24, 45, 75, 0.616); /* Text or icon color change on hover */
        
        /* Smooth transition */
        transition: background-color 0.1s ease, color 0.1s ease;
    }
}






a{
    border-radius: 0px; /* was 2.5px */
}

/* PRINT ANIMATION */
.fade-in {
    opacity: 0;
    /*transform: translateY(20px);*/
}

.fade-in.visible:not(em) {
    opacity: 1;
    transform: translateY(0);
}

.fade-in.visible em {
    opacity: 0.7;
    transform: translateY(0);
}

@keyframes fade-in-anim {
    0% {
        opacity: 0.75;
        transform: scale(0.975);
    }
    35% {
        opacity: 0.8
    }
    
    100% {
        opacity: 1.0;
        transform: scale(1.0);
    }
}

.fade-in-anim:not(em) {
    animation: fade-in-anim 0.5s ease-in-out;
}

/*--------------------------------------------------------------
# SELECTION
--------------------------------------------------------------*/
::selection {
    background-color: var(--selection);
}

/*--------------------------------------------------------------
# MOBILE
--------------------------------------------------------------*/
@media screen and (max-width: 50em) {
    #rain_vid {
        object-fit: fill;
    }
    .row {
        display: block;
    }
    .row img {
        width: 100%;
    }
    .img_desc {
        filter: opacity(100%);
        left: 100%;
        padding: 0 .5em;
        align-items: start;
    }
    .img_desc:hover {
        background: none;
    }
    .row_photography {
        
        flex-direction: column;
        display:flex;
        gap: 0;
    }
    .img_container {
        width: 50%;
    }
    .grid_row {
        flex-direction: column;
        margin-right: 1em;
    }
}



@media screen and (max-width: 600px) {
    .contact_link {
        margin-top: .5em;
        margin-bottom: .75em; /* Combine if necessary */
    }
    
    .contact_link a {
        padding: 0.25em 0; /* Adjust padding */
    }

    #nav_tabs ul {
        width: 100%; /* Full width */
        display: flex; /* Use flexbox */
        justify-content: center; /* Center the items */
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margin */
    }

    #nav_tabs ul li {
        margin: 0 0.5em; /* Add horizontal margin between items */
    }

   
}


@media screen and (max-width: 1050px) {
    #title {
        font-size: 2.3vw;
        margin-bottom: 2em;
    }
    #canvas {
        padding: 0.5em;
    }
    .tabs {
        padding: 0.75em;
    }
}

@media screen and (min-width: 1600px) {
    /* Prevent the images from getting too big on wide screens */
    .row img {
        max-width: 800px;
    }
    .row {
        justify-content: left;
    }
}

/* To comply with outlinenone.com :) */
:focus {
    outline: 2px solid var(--main-color);
    color: var(--main-color);
    background: rgba(var(--bg-color), 0.3);
    
    text-decoration: none;
}

/* Will be overwritten if effects enabled */
#noise_vid, #rain_vid {
    display: none;
}