@import url('/src/css/components/base.css');

/*--------------------------------------------------------------
# CODE CONTAINER
--------------------------------------------------------------*/

.code-container {
    background: radial-gradient(circle at 30% 30%, rgba(0, 255, 255, 0.5), rgba(0, 0, 0, 0.9));
    padding: 20px;
    border-radius: 12px;
    overflow-x: auto;
    color: #f8f8f2;
    position: relative;
    background-image: radial-gradient(circle at center, rgb(28, 30, 59), rgba(0, 0, 0, 0.8)); /* glowing background for the code */
    border: 2px solid #00ffff; 
  }
  
  
  /* style for the code itself */
  .code-container code {
    display: block;
    padding: 10px;
    background: #111111;
    color: #f8f8f2; 
    border-radius: 4px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.5;
  }

code span.html-tag {
    color: #7FAFF3; 
    font-style: italic;
  }
  
  code span.class-name {
    color: #fbbf24;
    font-weight: bold;
  }

/*--------------------------------------------------------------
# ARTICLES
--------------------------------------------------------------*/

.article-container {
    position: relative;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 30px 20px;
    margin: 20px auto;
    max-width: 800px;
    color: #ffffff;
    text-align: left;
    overflow: hidden;
}

.article-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/src/media/blog-thumbnails/lain.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: 0;
}

.article-container2 {
    position: relative;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 30px 20px;
    margin: 20px auto;
    max-width: 800px;
    color: #ffffff;
    text-align: left;
    overflow: hidden;
}

.article-container2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/src/media/blog-thumbnails/linux.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: 0;
}

.article-container3 {
    position: relative;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 30px 20px;
    margin: 20px auto;
    max-width: 800px;
    color: #ffffff;
    text-align: left;
    overflow: hidden;
}

.article-container3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/src/media/blog-thumbnails/tailwind.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: 0;
}

.article-title {
    font-size: 2.5em;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.article-date {
    font-size: 1em;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 1;
}

.article-content {
    line-height: 1.6;
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.95);
    position: relative;
    z-index: 1;
}

.article-content p {
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
    .article-title {
        font-size: 2em;
    }

    .article-date {
        font-size: 0.9em;
    }

    .article-content p {
        font-size: 1em;
    }
}

/*--------------------------------------------------------------
# COUNTER
--------------------------------------------------------------*/

#besucherzaehler2 {
    margin-bottom : -15px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    transform: scale(0.9);
    transform-origin: bottom;
}

a[href*="freehitcounters.org"] {
    pointer-events: none;
    cursor: default;
}


#besucherzaehler2 text {
    font-size: 12px;
}

#besucherzaehler2 text:nth-of-type(1) {
    transform: translate(0px, 0px); /* Adjust second text (Total) */
    font-size: 12px;
}

#besucherzaehler2 text:nth-of-type(2) {
    transform: translate(0px, 0px); /* Adjust second text (Visitors) */
}

#besucherzaehler2 rect {
    fill: var(--main-color); /* Theme color for bars */
}
